.container {
  max-width: 750px;

  .disabled {
    opacity: 0.7;
    .NgxEditor {
      opacity: 0.7;
    }
  }

  .buttons {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
}
