<div class="container">
  <form [formGroup]="formEditText" [class.disabled]="menuDesabled">
    <ngx-editor-menu
      [disabled]="menuDesabled"
      [editor]="editor"
      [toolbar]="toolbarNgx"
    >
    </ngx-editor-menu>
    <ngx-editor
      formControlName="editor"
      [editor]="editor"
      [placeholder]="'Digite aqui...'"
      [class.disabled]="menuDesabled"
    >
      <ngx-editor-floating-menu
        [autoPlace]="true"
        [editor]="editor"
      ></ngx-editor-floating-menu>
    </ngx-editor>
  </form>

  <div class="buttons" *ngIf="menuDesabled">
    <button mat-stroked-button color="primary" (click)="showDoc()">
      Visualizar
    </button>
    <button mat-raised-button color="primary" (click)="toogleEdit()">
      Editar
    </button>
    <button mat-raised-button color="primary" (click)="print()">
      Imprimir
      <mat-icon>print</mat-icon>
    </button>
  </div>

  <div class="buttons" *ngIf="!menuDesabled">
    <button mat-stroked-button color="primary" (click)="cancel()">
      Cancelar
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="toogleEdit()"
      (click)="send()"
    >
      Confirmar
    </button>
  </div>
</div>
